body{
    background-color: black;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/swirls-of-blue-smoke-on-a-black-background-danil-nikonov.jpg);
    
}
pre{
    color: whitesmoke;
    text-align: left;
    font-size: 80px;
    text-shadow: 1rem;
    text-decoration: wavy;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    
}
.m{
   /* animation: blinker 1.5s linear infinite;*/
            color: red;
            font-family: sans-serif;
}
.n{
    color: red;
    font-family: sans-serif;
}
/*responsive work*/
@media screen and (min-width: 200px){
    pre{
        font-size: 20px;
        text-align: left;
    }
}
@media screen and (min-width:200px) {
    body{
        background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/swirls-of-blue-smoke-on-a-black-background-danil-nikonov.jpg);
       /* background-size: cover;*/
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        width: 100vw;
        height: 100vh;
    }
@media screen and (min-width: 300px){
    pre{
        font-size: 20px;
        text-align: left;
    }
}
@media screen and (min-width:300px) {
    body{
        background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/swirls-of-blue-smoke-on-a-black-background-danil-nikonov.jpg);
       /* background-size: cover;*/
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        width: 100vw;
        height: 100vh;
    }
    
}
@media screen and (min-width: 400px){
    pre{
        font-size: 30px;
        
    }
}
@media screen and (min-width:400px) {
    body{
        background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/swirls-of-blue-smoke-on-a-black-background-danil-nikonov.jpg);
       /* background-size: cover;*/
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: 100vw 100vh;
        width: 100vw;
        height: 100vh;
        
    }
    
}
@media screen and (min-width: 600px){
    pre{
        font-size: 50px;
        text-align: left;
    }
}
@media screen and (min-width:600px) {
    body{
        background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/swirls-of-blue-smoke-on-a-black-background-danil-nikonov.jpg);
       /* background-size: cover;*/
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: 100vw 100vh;
        width: 100vw;
        height: 100vh;
        
    }
    
}
@media screen and (min-width: 800px){
    pre{
        font-size: 60px;
        text-align: left;
    }
}
@media screen and (min-width:800px) {
    body{
        background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/swirls-of-blue-smoke-on-a-black-background-danil-nikonov.jpg);
       /* background-size: cover;*/
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: 100vw 100vh;
        width: 100vw;
        height: 100vh;
       
    }
    
}
@media screen and (min-width: 900px){
    pre{font-size: 70px;}
}
@media screen and (min-width:900px) {
    body{
        background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/swirls-of-blue-smoke-on-a-black-background-danil-nikonov.jpg);
      /*  background-size: cover;*/
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: 100vw 100vh;
        width: 100vw;
        height: 100vh;
        
    }
    
}
@media screen and (min-width: 9500px){
    pre{font-size: 20px;}
}
@media screen and (min-width:950px) {
    body{
        background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/swirls-of-blue-smoke-on-a-black-background-danil-nikonov.jpg);
      /*  background-size: cover;*/
        background-repeat: no-repeat;
        width: 100%;
        background-size: 100vw 100vh;
        width: 100vw;
        height: 100vh;
    }
    
}
@media screen and (min-width: 1000px){
    pre{font-size: 80px;}
}
@media screen and (min-width:1000px) {
    body{
        background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/swirls-of-blue-smoke-on-a-black-background-danil-nikonov.jpg);
      /*  background-size: cover;*/
        background-repeat: no-repeat;
        width: 100%;
        background-size: 100vw 100vh;
        width: 100vw;
        height: 100vh;
    }
    
}
